.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
/data/raw/hc_adni_brain_mask/
/data/raw/hc_nifd_brain_mask/
/data/raw/hc_oasis1_brain_mask/
/data/raw/hc_oasis2_brain_mask/
/data/raw/hc_oasis3_brain_mask/
/data/raw/hc_ppmi_brain_mask/
/data/processed/embeddings/hc_adni_brain_mask
/data/processed/embeddings/hc_nifd_brain_mask
/data/processed/embeddings/hc_oasis1_brain_mask
/data/processed/embeddings/hc_oasis2_brain_mask
/data/processed/embeddings/hc_oasis3_brain_mask
/data/processed/embeddings/hc_ppmi_brain_mask
/data/processed/embeddings_v2/hc_adni_brain_mask
/data/processed/embeddings_v2/hc_nifd_brain_mask
/data/processed/embeddings_v2/hc_oasis1_brain_mask
/data/processed/embeddings_v2/hc_oasis2_brain_mask
/data/processed/embeddings_v2/hc_oasis3_brain_mask
/data/processed/embeddings_v2/hc_ppmi_brain_mask
/data/processed/embeddings_v3/hc_adni_brain_mask
/data/processed/embeddings_v3/hc_nifd_brain_mask
/data/processed/embeddings_v3/hc_oasis1_brain_mask
/data/processed/embeddings_v3/hc_oasis2_brain_mask
/data/processed/embeddings_v3/hc_oasis3_brain_mask
/data/processed/embeddings_v3/hc_ppmi_brain_mask
/data/processed/embeddings_v4/hc_adni_brain_mask
/data/processed/embeddings_v4/hc_nifd_brain_mask
/data/processed/embeddings_v4/hc_oasis1_brain_mask
/data/processed/embeddings_v4/hc_oasis2_brain_mask
/data/processed/embeddings_v4/hc_oasis3_brain_mask
/data/processed/embeddings_v4/hc_ppmi_brain_mask
*.pth
*.pt
logs/
mlruns/
.ipynb_checkpoints/
.DS_Store
*.out
outputs/models/*.pt
outputs/models/*.pth
!outputs/models/.gitkeep
outputs/generated/*
!outputs/generated/.gitkeep
outputs/models_v2/*.pth
outputs/models_v2/*.pt
outputs/models_v3/*.pth
outputs/models_v3/*.pt
outputs/models_v4/*.pth
outputs/models_v4/*.pt
outputs/models_v5/*.pth
outputs/models_v5/*.pt
outputs/tfevent/
*.sif
/data/masks_fsl_prePad_181/
/data/masks_fsl_postPad_256/